<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnWarning="true"
         failOnRisky="true"
         requireCoverageMetadata="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="CONFIG_TYPE" value="default" />
        <env name="KERNEL_DIR" value="Tests/Resources/Kernel"/>
        <env name="KERNEL_CLASS" value="RichCongress\RecurrentFixturesTestBundle\Tests\Resources\Kernel\TestKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <directory>src/DependencyInjection</directory>
            <directory>src/Resources</directory>
            <file>src/RichCongressRecurrentFixturesTestBundle.php</file>
        </exclude>
    </source>

    <extensions>
        <bootstrap class="RichCongress\TestFramework\PHPUnitExtension"/>
        <bootstrap class="RichCongress\WebTestBundle\PHPUnitExtension"/>
    </extensions>
</phpunit>
